@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwiedzenie resetowania";
}
    @*Program powstał na Wydziale Informatyki Politechniki Białostockiej*@

<h1>@ViewData["Title"]</h1>
<p>
    Sprawdź swoją skrzynkę mailową w celu zresetowania hasła
</p>

