@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Hasło zmienione";
}
@*Program powstał na Wydziale Informatyki Politechniki Białostockiej*@
<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało pomyślnie zmienione. <a asp-page="./Login">Kliknij tutaj</a>, aby się zalogować.
</p>
