@model My_Company.Areas.Shop.ViewModels.Profile.ChangePasswordModel

@if (TempData["message"] != null)
{
<div class="alert alert-info alert-dismissible fade show" role="alert">
    @TempData["message"]
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}

<form id="changePasswordForm">
    <div class="p-2 ">
        <div class="p-2 bg-light">
            <h6 class="text-uppercase pt-2 font-weight-bolder pl-2">Zmień hasło</h6>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="pl-3">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="OldPassword" class="text-muted text-uppercase"></label>
                        <input asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="NewPassword" class="text-muted text-uppercase"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <label asp-for="ConfirmPassword" class="text-muted text-uppercase"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="m-3 p-3 d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-lg btn-outline-dark text-uppercase" style="border-radius:1px">
                <i class="bi bi-save"></i></i>&nbsp;
                Zmień hasło
            </button>
        </div>


    </div>
</form>