@*Program powstał na Wydziale Informatyki Politechniki Białostockiej*@
@model My_Company.Areas.Warehouse.ViewModels.OrderPickingViewModel

@{
    ViewBag.Title = $"Kompletowanie zamówienia {Model.Id}";
}

<h4>Kompletowanie zamówienia @Html.DisplayFor(m => m.Id)</h4>
<hr />
<div class="inputs row">
    <div class="col-md-6">
        <h6>Produkt</h6>
        <div class="form-group">
            <label class="control-label">
                Kod EAN
            </label>
            <input type="number" id="eanInput" class="form-control" />
        </div>
        <div class="text-center">
            <b>LUB</b>
        </div>
        <div class="form-group">
            <label class="control-label">
                Wyszukaj produkt
            </label>
            <select id="productSelect" class="form-control"></select>
        </div>
        <div class="form-group" style="margin-top:-0.25rem!important">
            <label class="control-label">
                Ilość
            </label>
            <input type="number" id="count" value="1" class="form-control" />
        </div>
    </div>
    <div class="col-md-6 border-left" id="sectorSelectContainer">
        <h6>Sektor</h6>
        <div class="form-group">
            <label class="control-label">
                Kod sektora
            </label>
            <input type="number" id="sectorEanInput" class="form-control" />
        </div>
        <div class="text-center">
            <b>LUB</b>
        </div>
        <div class="form-group">
            <label class="control-label">
                Wybierz rząd
            </label>
            <select id="rowSelect" class="form-control" asp-items="ViewBag.rows">
                <option selected value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">
                Wybierz sektor
            </label>
            <select id="sectorSelect" class="form-control"></select>
        </div>
    </div>
</div>

<div class="d-flex my-2 justify-content-end ">
    <div>
        <button type="button" class="btn btn-success" disabled id="addProductsBtn">Dodaj</button>
    </div>
</div>
<div id="details">
    <div class="row d-flex align-content-start">
        @await Component.InvokeAsync("OrderProductsInPicking", new { orderPikingItems = Model.Items })
    </div>
    @if (ViewBag.Completed == true)
    {
        <div class="row d-flex justify-content-end">
            <button class="btn btn-outline-success" id="submit">Zapisz</button>
        </div>
    }
    <hr />
    <div>
        <h5>Zebrano: </h5>
        <div class="row">
            <div class="col-md-6">
                @await Component.InvokeAsync("PickingDetails", new { pikingItems = Model.PickedItems })
            </div>

        </div>

    </div>
</div>
<div class="spinner spinner-border spinnerHidden text-primary"></div>
<style>
    .card-img-top {
        height: 18vh;
        object-fit: scale-down;
    }
</style>

@section Head {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap4.min.css" integrity="sha512-MMojOrCQrqLg4Iarid2YMYyZ7pzjPeXKRvhW9nZqLo6kPBBTuvNET9DBVWptAo/Q20Fy11EIHM5ig4WlIrJfQw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

@section Scripts {
    <script src="~/lib/selectize/selectize.min.js"></script>
    <script src="~/js/shared/shared.js"></script>
    <script src="~/js/Warehouse/Orders/Complete/Complete.js"></script>
}