@*Program powstał na Wydziale Informatyki Politechniki Białostockiej*@
@model My_Company.Models.Warehouse

<div>
    <h6 class="text-muted font-weight-bolder">
        Adres odbioru:
    </h6>
    <p class="p-0 m-0">@Model.Street</p>
    <p class="p-0 m-0">@Model.PostalCode @Model.City</p>
</div>