@model My_Company.Areas.Warehouse.ViewModels.NewWarehouseViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Stwórz nowy magazyn</h1>

<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create" id="myForm">
            <div class="tab col-md-6">
                <h5>Podaj nazwę magazynu</h5>
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label class="control-label" asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="tab col-md-6">
                <h5>Gdzie znajduje się magazyn?</h5>
                <div class="form-group">
                    <label asp-for="Street" class="control-label"></label>
                    <input asp-for="Street" class="form-control" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Voivodeship" class="control-label"></label>
                    <input asp-for="Voivodeship" class="form-control" />
                    <span asp-validation-for="Voivodeship" class="text-danger"></span>
                </div>
            </div>
            <div class="tab col">
                <div class="d-flex justify-content-between">
                    <h5>Wprowadź plan swojego magazynu</h5>
                    <button type="button" class="btn btn-outline-primary" id="addRowBtn" data-toggle="modal" data-target="#addSectorModal">Dodaj rząd</button>
                </div>

                <span class="text-danger" id="rowsCountValidateMessage"></span>
                <div class="table-responsive-lg">
                    <table class="table table-striped table-bordered mt-3 mb-3" id="warehousePlan">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sectors[0].Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sectors[0].Count)
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div>
                    <a class="btn btn-outline-secondary" asp-action="Index">Anuluj</a>
                </div>
                <div>
                    <button class="btn btn-outline-primary" type="button" id="prevBtn">Poprzedni</button>
                    <button class="btn btn-outline-primary" type="button" id="nextBtn">Następny</button>
                </div>
            </div>


            <div class="d-flex justify-content-center m-2">
                <div class="btn-group">

                    <button type="button" disabled class="btn btn-primary step">1</button>
                    <button type="button" disabled class="btn step">2</button>
                    <button type="button" disabled class="btn  step">3</button>

                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="addSectorModal">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Dodaj rząd</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 p-2">
                                        <div class="form-group">
                                            <label asp-for="Sectors[0].Name" class="control-label"></label>
                                            <input asp-for="Sectors[0].Name" class="form-control" id="sectorNameInput" />
                                            <span asp-validation-for="Sectors[0].Name" class="text-danger" id="nameValidate"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 p-2">
                                        <div class="form-group">
                                            <label asp-for="Sectors[0].Count" class="control-label"></label>
                                            <input asp-for="Sectors[0].Count" id="sectorCountInput" class="form-control" />
                                            <span asp-validation-for="Sectors[0].Count" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary " id="addSectorBtn">Dodaj</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                            </div>
                        </div>
                    </div>
                </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Warehouse/Warehouses/Create/Create.js"></script>
}

